__pycache__/
*.py[co]
/build
/dist
/wagtail_translate.egg-info
/.coverage
/htmlcov
/.tox
/.venv
/venv
/env
/.env
/.vscode
/site
/test_wagtail_translate.db
/node_modules
/test-static
/test-media
/.python-version
